body {
  background: dimgray;
  text-align: center;
  color: #DDD;
  font-family: Arial;
}

#cr-stage {
  margin: 20px auto 0;
  border: 1px solid;
  background: lightslategray;
  z-index: auto;
}

.instruction-areas {
  border-left: white solid 1px;
  background-color: slategray;
  position: absolute;
}
.instruction-area {
  border: lightgray solid 1px;
  background-color: gray;
}
.active-instruction-area {
  border: white solid 1px;
  background-color: #600000;
}
.regular-slot {
  border: white solid 1px;
}
.highlighted-slot {
  border: red solid 1px;
}
.HbButton {
  border: solid thin white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.button-enabled {
  background-color: #600000;
  color: #FFFFFF;
  cursor: pointer
}
.button-disabled {
  background-color: #300000;
  color: #CCCCCC;
  cursor: default;
}
.HbMessage {
  background-color: #300000;
  color: #FF0000;
  border: solid white;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}


/* level editor */
.inline-block {
  display: inline-block;
}
